@import 'config';

.globalHeader{
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100px;
    border-top: 5px solid $lightNavy;
    background-color: white;
    @include shadow(200);
    .globalHeaderContent{
        .headerLogo{
            height: 30px;
            margin-right: 35px;
            transform: translate(0px, -2.5px);
        }
        .headerNav{
            height: 95px;
            display: inline-flex;
            align-items: center;
            .headerNavItem{
                padding: 3px 12px;
                user-select: none;
                cursor: pointer;
                position: relative;
                margin-right: 10px;
                color: $warmGrey;
                &:not(.active):hover{
                    color: $lightNavy;
                    &:after{
                        content: ' ';
                        position: absolute;
                        width: calc( 100% - 20px );
                        height: 2px;
                        background-color: $lightNavy;
                        left: 10px;
                        bottom: 0px;
                    }
                }
                &.active{
                    color: $text-light;
                    background-color: $lightNavy;
                    border-radius: 95px;
                }
            }
        }
        .loginButtonGroup{
            height: 95px;
            float: right;
            display: inline-flex;
            align-items: center;
            .fbLogin{
                height: 30px;
                width: 30px;
                background-image: url(../../images/fb_icon.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-color: transparent;
                cursor: pointer;
                outline: none;
                border: 0px;
                user-select: none;
                margin-right: 15px;
            }
            .normalLogin{
                padding-left: 20px;
                background-image: url(../../images/user_icon.png);
                background-repeat: no-repeat;
                background-size: 15px;
                background-position: left;
                background-color: transparent;
                cursor: pointer;
                outline: none;
                border: 0px;
                user-select: none;
                color: $warmGrey;
            }
        }
    }
}