/* 
=== Menu ===
1. Colors
2. Fonts
3. Shadows
4. Grids
5. Responsive
=== Menu ===
*/
/*
=== 1. Colors ===
*/
/*
=== 2. Fonts ===
*/
/*
=== 3. Shadows ===
*/
/*
=== 4. Grids ===
*/
/*
=== 5. Responsive ===
*/
body {
  background-color: white;
}

@media screen and (max-width: 991px) {
  body {
    padding-bottom: 45px;
  }
}

.contentContainer {
  text-align: center;
  margin-top: 145px;
}

.contentContainer .innerContainer {
  margin: auto;
  width: 100%;
  max-width: 850px;
}

.contentContainer .innerContainer .contentCover {
  width: 100%;
}

.contentContainer .innerContainer .contentArea {
  padding: 0px 30px;
}

.contentContainer .innerContainer .contentArea .timeStamp {
  text-align: left;
  margin-top: 30px;
  font-size: 13px;
  color: #135384;
  font-weight: 700;
}

.contentContainer .innerContainer .contentArea h1 {
  text-align: left;
  margin-top: 30px;
  font-size: 28px;
  color: #444444;
  font-weight: 700;
}

.contentContainer .innerContainer .contentArea .content {
  text-align: left;
  margin-top: 15px;
  color: #5A6266;
  font-size: 15px;
  display: -webkit-box;
  max-height: 22.5px;
  line-height: 22.5px;
  -webkit-line-clamp: 1;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  overflow: hidden;
}

.contentContainer .innerContainer .contentArea .content.expand {
  max-height: unset;
  -webkit-line-clamp: unset;
}

.contentContainer .innerContainer .contentArea .buttonContainer {
  text-align: right;
  margin-top: 30px;
  margin-bottom: 30px;
}

.contentContainer .innerContainer .contentArea .contentTags {
  margin-top: 60px;
  margin-bottom: 25px;
}

.contentContainer .innerContainer .contentArea .contentTags span {
  font-size: 13px;
  background-color: #DFDFDF;
  color: #9B9B9B;
  padding: 2px 8px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

.contentContainer .innerContainer .actionArea {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 90px;
}

.contentContainer .innerContainer .actionArea .shareQuiz {
  height: 18px;
  width: 18px;
  background-image: url(../../images/share_navy_icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: 0px;
  user-select: none;
  margin-right: 5px;
  transform: translate(0px, 2px);
  vertical-align: top;
}

.contentContainer .innerContainer .actionArea .rankQuiz {
  padding-left: 23px;
  height: 18px;
  background-image: url(../../images/rank_navy_icon.png);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: left;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: 0px;
  user-select: none;
  color: #6D899E;
  line-height: 18px;
  font-size: 13px;
  vertical-align: top;
}

.contentContainer .innerContainer .actionArea .commentQuiz {
  padding-left: 23px;
  height: 18px;
  line-height: 18px;
  font-size: 13px;
  background-image: url(../../images/comments_navy_icon.png);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: left;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: 0px;
  user-select: none;
  color: #6D899E;
  vertical-align: top;
}

.contentContainer .innerContainer .actionArea .socialLink {
  width: 430px;
  display: flex;
  align-items: center;
}

.contentContainer .innerContainer .actionArea .socialLink > span {
  font-size: 13px;
  margin-right: 30px;
  color: #898989;
  white-space: nowrap;
}

.contentContainer .innerContainer .actionArea .socialLink .fbPageContainer {
  width: 100%;
}

.contentContainer .innerContainer .fb-comments {
  width: 100% !important;
  margin-bottom: 30px;
}

.contentContainer .innerContainer .fb-comments iframe {
  width: 100% !important;
}

.contentContainer .innerContainer .fb-comments span {
  width: 100% !important;
}

@media screen and (max-width: 991px) {
  .contentContainer {
    margin-top: 68px;
  }
  .contentContainer .innerContainer {
    padding-bottom: 15px;
  }
  .contentContainer .innerContainer .contentArea {
    padding: 0px;
  }
  .contentContainer .innerContainer .contentArea .timeStamp {
    margin-top: 15px;
  }
  .contentContainer .innerContainer hr {
    display: none;
  }
  .contentContainer .innerContainer .actionArea {
    margin-bottom: 0px;
  }
  .contentContainer .innerContainer .actionArea .aboutContent {
    position: fixed;
    width: 100vw;
    background-color: white;
    z-index: 100;
    height: 45px;
    bottom: 0;
    left: 0;
    text-align: left;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  }
  .contentContainer .innerContainer .actionArea .socialLink {
    flex-direction: column;
    width: 100%;
  }
  .contentContainer .innerContainer .actionArea .socialLink span {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .contentContainer .innerContainer .actionArea .shareQuiz {
    height: 25px;
    width: 25px;
    margin-top: 10px;
    margin-left: 15px;
    transform: translate(0px, 0px);
    vertical-align: top;
    margin-right: 15px;
  }
  .contentContainer .innerContainer .actionArea .rankQuiz {
    margin-top: 10px;
    height: 25px;
    background-size: 25px;
    line-height: 25px;
    vertical-align: top;
    margin-right: 10px;
    padding-left: 30px;
  }
  .contentContainer .innerContainer .actionArea .commentQuiz {
    margin-top: 10px;
    height: 25px;
    line-height: 25px;
    background-size: 25px;
    vertical-align: top;
    padding-left: 30px;
  }
}

.recommendArea {
  width: 100%;
  background-color: #ECECEC;
  padding: 60px 0px;
}

.recommendArea .reommendAreaContent > h1 {
  font-weight: 700;
  text-align: center;
  font-size: 28px;
  color: #444444;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 30px;
  padding-bottom: 16px;
  position: relative;
}

.recommendArea .reommendAreaContent > h1:after {
  content: ' ';
  width: 85px;
  height: 4px;
  background-color: #135384;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
}

@media screen and (max-width: 991px) {
  .recommendArea {
    padding: 30px 0px;
  }
  .recommendArea .reommendAreaContent {
    padding: 0px;
  }
  .recommendArea .reommendAreaContent > h1 {
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }
  .recommendArea .reommendAreaContent > h1:after {
    width: 65px;
    height: 3px;
  }
}
/*# sourceMappingURL=content.css.map */