/* 
=== Menu ===
1. Fonts
2. Buttons
3. Margins
4. Responsive
=== Menu ===
*/
/* 
=== Menu ===
1. Colors
2. Fonts
3. Shadows
4. Grids
5. Responsive
=== Menu ===
*/
/*
=== 1. Colors ===
*/
/*
=== 2. Fonts ===
*/
/*
=== 3. Shadows ===
*/
/*
=== 4. Grids ===
*/
/*
=== 5. Responsive ===
*/
/*
=== 1. Fonts ===
*/
body {
  background-color: #ECECEC;
}

body, p, button, input, select, textarea {
  font-family: "Noto Sans TC", sans-serif !important;
  color: #444444;
}

h1 {
  font-size: 30px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 0px;
}

h1.bold {
  font-weight: 700;
}

h1.light {
  font-weight: 400;
}

h2 {
  font-size: 25px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2.bold {
  font-weight: 700;
}

h2.light {
  font-weight: 400;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0px;
}

h3.bold {
  font-weight: 700;
}

h3.light {
  font-weight: 400;
}

h4 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0px;
}

h4.bold {
  font-weight: 700;
}

h4.light {
  font-weight: 400;
}

h5 {
  font-size: 15px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0px;
}

h5.bold {
  font-weight: 700;
}

h5.light {
  font-weight: 400;
}

h6 {
  font-size: 15px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 0px;
}

h6.bold {
  font-weight: 700;
}

h6.light {
  font-weight: 400;
}

p, span, label, font, div {
  font-size: 15px;
  color: #444444;
}

p.text-light, span.text-light, label.text-light, font.text-light, div.text-light {
  color: #FFFFFF;
}

/*
=== 2. Buttons ===
*/
button:not(.detach) {
  text-align: center;
  height: 35px;
  padding: 0px 15px;
  font-size: 13px;
  position: relative;
  transition: background-color .5s;
  border-radius: 35px;
  cursor: pointer;
  outline: none;
  border: 0px;
  user-select: none;
  vertical-align: top;
  color: white;
  background-color: #135384;
}

button:not(.detach).larger {
  height: 55px;
  border-radius: 55px;
  font-size: 25px;
}

@media screen and (max-width: 991px) {
  button:not(.detach).larger {
    height: 40px;
    font-size: 18px;
  }
}

button:not(.detach).sunFlowerYellow {
  color: #3b5998;
}

button:not(.detach).lightNavy {
  background-color: #135384;
}

button:not(.detach).tealish {
  background-color: #20AFAB;
}

button:not(.detach).sunFlowerYellow {
  background-color: #FFCE00;
}

button:not(.detach).pastelRed {
  background-color: #DC5D5B;
}

button:not(.detach):hover {
  background-color: #4e7fb4;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

button:not(.detach):hover.lightNavy {
  background-color: #4e7fb4;
}

button:not(.detach):hover.tealish {
  background-color: #64e1dd;
}

button:not(.detach):hover.sunFlowerYellow {
  background-color: #ffff51;
}

button:not(.detach):hover.pastelRed {
  background-color: #ff8e88;
}

button:not(.detach):active {
  background-color: #002b57;
  box-shadow: none;
}

button:not(.detach):active.lightNavy {
  background-color: #002b57;
}

button:not(.detach):active.tealish {
  background-color: #007f7c;
}

button:not(.detach):active.sunFlowerYellow {
  background-color: #c79d00;
}

button:not(.detach):active.pastelRed {
  background-color: #a52c32;
}

/*
=== 3. Margins ===
*/
.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.mt-gutter-1 {
  margin-top: 15px;
}

.mb-gutter-1 {
  margin-bottom: 15px;
}

.ml-gutter-1 {
  margin-left: 15px;
}

.mr-gutter-1 {
  margin-right: 15px;
}

.mt-between-1 {
  margin-top: 30px;
}

.mb-between-1 {
  margin-bottom: 30px;
}

.ml-between-1 {
  margin-left: 30px;
}

.mr-between-1 {
  margin-right: 30px;
}

.mt-gutter-between-1 {
  margin-top: 45px;
}

.mb-gutter-between-1 {
  margin-bottom: 45px;
}

.ml-gutter-between-1 {
  margin-left: 45px;
}

.mr-gutter-between-1 {
  margin-right: 45px;
}

.mt-step-1 {
  margin-top: 5px;
}

.mb-step-1 {
  margin-bottom: 5px;
}

.ml-step-1 {
  margin-left: 5px;
}

.mr-step-1 {
  margin-right: 5px;
}

.mt-gutter-2 {
  margin-top: 30px;
}

.mb-gutter-2 {
  margin-bottom: 30px;
}

.ml-gutter-2 {
  margin-left: 30px;
}

.mr-gutter-2 {
  margin-right: 30px;
}

.mt-between-2 {
  margin-top: 60px;
}

.mb-between-2 {
  margin-bottom: 60px;
}

.ml-between-2 {
  margin-left: 60px;
}

.mr-between-2 {
  margin-right: 60px;
}

.mt-gutter-between-2 {
  margin-top: 90px;
}

.mb-gutter-between-2 {
  margin-bottom: 90px;
}

.ml-gutter-between-2 {
  margin-left: 90px;
}

.mr-gutter-between-2 {
  margin-right: 90px;
}

.mt-step-2 {
  margin-top: 10px;
}

.mb-step-2 {
  margin-bottom: 10px;
}

.ml-step-2 {
  margin-left: 10px;
}

.mr-step-2 {
  margin-right: 10px;
}

.mt-gutter-3 {
  margin-top: 45px;
}

.mb-gutter-3 {
  margin-bottom: 45px;
}

.ml-gutter-3 {
  margin-left: 45px;
}

.mr-gutter-3 {
  margin-right: 45px;
}

.mt-between-3 {
  margin-top: 90px;
}

.mb-between-3 {
  margin-bottom: 90px;
}

.ml-between-3 {
  margin-left: 90px;
}

.mr-between-3 {
  margin-right: 90px;
}

.mt-gutter-between-3 {
  margin-top: 135px;
}

.mb-gutter-between-3 {
  margin-bottom: 135px;
}

.ml-gutter-between-3 {
  margin-left: 135px;
}

.mr-gutter-between-3 {
  margin-right: 135px;
}

.mt-step-3 {
  margin-top: 15px;
}

.mb-step-3 {
  margin-bottom: 15px;
}

.ml-step-3 {
  margin-left: 15px;
}

.mr-step-3 {
  margin-right: 15px;
}

.mt-gutter-4 {
  margin-top: 60px;
}

.mb-gutter-4 {
  margin-bottom: 60px;
}

.ml-gutter-4 {
  margin-left: 60px;
}

.mr-gutter-4 {
  margin-right: 60px;
}

.mt-between-4 {
  margin-top: 120px;
}

.mb-between-4 {
  margin-bottom: 120px;
}

.ml-between-4 {
  margin-left: 120px;
}

.mr-between-4 {
  margin-right: 120px;
}

.mt-gutter-between-4 {
  margin-top: 180px;
}

.mb-gutter-between-4 {
  margin-bottom: 180px;
}

.ml-gutter-between-4 {
  margin-left: 180px;
}

.mr-gutter-between-4 {
  margin-right: 180px;
}

.mt-step-4 {
  margin-top: 20px;
}

.mb-step-4 {
  margin-bottom: 20px;
}

.ml-step-4 {
  margin-left: 20px;
}

.mr-step-4 {
  margin-right: 20px;
}

.mt-gutter-5 {
  margin-top: 75px;
}

.mb-gutter-5 {
  margin-bottom: 75px;
}

.ml-gutter-5 {
  margin-left: 75px;
}

.mr-gutter-5 {
  margin-right: 75px;
}

.mt-between-5 {
  margin-top: 150px;
}

.mb-between-5 {
  margin-bottom: 150px;
}

.ml-between-5 {
  margin-left: 150px;
}

.mr-between-5 {
  margin-right: 150px;
}

.mt-gutter-between-5 {
  margin-top: 225px;
}

.mb-gutter-between-5 {
  margin-bottom: 225px;
}

.ml-gutter-between-5 {
  margin-left: 225px;
}

.mr-gutter-between-5 {
  margin-right: 225px;
}

.mt-step-5 {
  margin-top: 25px;
}

.mb-step-5 {
  margin-bottom: 25px;
}

.ml-step-5 {
  margin-left: 25px;
}

.mr-step-5 {
  margin-right: 25px;
}

/*
=== 4. Responsive ===
*/
@media screen and (max-width: 991px) {
  .desk-only {
    display: none;
  }
}

.tablet-only {
  display: none;
}

@media screen and (max-width: 991px) {
  .tablet-only {
    display: block;
  }
}

.mobile-only {
  display: none;
}

@media screen and (max-width: 480px) {
  .mobile-only {
    display: block;
  }
}
/*# sourceMappingURL=global.css.map */